.outer-box{
    margin-top: 10%;
    padding:5%;
    background-color: rgba(151, 147, 147, 0.409);
    border:2px solid rgb(126, 108, 76);
}
.decor2{
  border:3px solid sandybrown
}
.decor1{
  border:3px solid rgb(129, 87, 51)
}
.btn{
  background-image: linear-gradient(to bottom,rgb(93, 70, 28),rgb(181, 137, 109),rgb(93, 70, 28));
  color:beige;
}
.container {
    width:100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
 @media all and (max-width: 700px) and (min-width: 320px) {
    .container {
      justify-content: center;
    }
    .outer-box{
        margin-top: 30%;
    }
}